

        <li class="side-menu">
            <a href="@Url.Action("XemGH","GioHang")">
                <i class="fa fa-shopping-bag"></i>
                <span>@ViewBag.TongSL</span>
            </a>
        </li>
 
<!-- End Atribute Navigation -->
<!-- Start Side Menu -->
