
@{
    ViewBag.Title = "ThongBao2";
    Layout = "~/Views/Layouts/HomeLayout.cshtml";
}

<h1 style="color:red"> SỐ LƯỢNG HÀNG TỒN KHO ĐÃ HẾT !!! </h1>
@Html.ActionLink("Mua Tiếp", "Index", "Home", new { @class = "btn btn-success" })

