
@{
    ViewBag.Title = "ThongBao1";
    Layout = "~/Views/Layouts/HomeLayout.cshtml";
}

<h1 style="color:red"> GIỎ HÀNG RỖNG </h1>
@Html.ActionLink("Mua Tiếp", "Index", "Home", new { @class = "btn btn-success" })
