
@{
    ViewBag.Title = "LoiPhanQuyen";
    Layout = "~/Views/Layouts/AdminLayout.cshtml";
}

<h2>BẠN KHÔNG ĐỦ QUYỀN TRUY CẬP VÀO MỤC NÀY VUI LÒNG TRỞ LẠI @Html.ActionLink("Trở về","QuanLySP","ADQuanLySP")</h2>

